.App {
  text-align: center;
}

* {
  margin: 0;
  padding: 0;
  color: black;
  text-decoration: none
}

.drink-list{
  max-width: 750px;
  justify-content: space-between;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none
}

.drink-list a:hover p{
  color:red
}

.drink img{
  max-width: 200px;
}

.drink-list li{
  padding: 20px;
  max-width: 200px;
}

form {
  padding: 20px
}


